body {
    font-family: 'Rajdhani', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 15px;
	line-height: normal;
}
.container-fluid {
	max-width: 1170px;
}
ul, ol {
	list-style:none;
	padding:0;
	margin: 0;
}
a {
	transition: 0.3s ease-in-out;
}
a:hover {
	text-decoration: none;
}
.title {
	text-align: center;
	margin-bottom:40px;
	text-tansform: uppercase;
}
.btn {
	border-radius: 0 !important;
}

.btn.btn-primary {
	background: $primary-color;
	border-color: $primary-color;
}
.owl-carousel .owl-item img {
	width: auto;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0, 10px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0, 10px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
// BOOTSTRAP: Open Submenu on hover
li.dropdown:hover .dropdown-menu {
    opacity: 1;
}
li.dropdown:hover .dropdown-menu {
    display: block;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;  
}
li.dropdown.show .dropdown-menu {
	display:block;	
}
li.dropdown .dropdown-menu {
	margin:0;
	border:0;
	border-radius:0;
	padding:0;
    background: #fafafa;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 10px 20px;
    clear: both;
    font-weight: 600;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border-bottom: 1px solid $primary-color;
}
.dropdown-item:hover {
	background: $near-primary-color;
	color:#fff;
}
.dropdown-item:last-child{
	border-bottom:none;
}
.inner-page-wrap {
    min-height: 500px;
}
.page-banner {
    padding: 100px 0;
    color: #fff;
}
.page-head {
    h2 {
        font-size: 32px;
        margin-bottom: 5px;
        line-height: 32px;
    }
    p {
        font-size: 18px;
        font-weight: 500;   
    }
}
.sticky-wrapper {
    height: 53px !important;
}
.inner-content {
    padding: 40px 0 0 0;
}